
<% team = @params %>
<h1><%= team[:name] %> </h1>
<h2>Team Motto <%= team[:motto] %></h2>

<div class="member1">
  <p>Hero Name: <%= team[:member][0][:name] %></p>
  <p>Hero Power: <%= team[:member][0][:power] %></p>
  <p>Bio <%= team[:member][0][:bio] %></p>
</div>
